<!DOCTYPE html>
<html>
<head>
    <title>Sum Calculator</title>
</head>
<body>

<h2>Sum Calculator</h2>

<input type="number" id="a" placeholder="First Number">

<input type="number" id="b" placeholder="Second Number">

<button onclick="calculate()">
    Calculate
</button>

<h3 id="result"></h3>

<br>

<a href="/history">
    View History
</a>

<script>

async function calculate() {

    const a =
        document.getElementById("a").value;

    const b =
        document.getElementById("b").value;

    const response =
        await fetch(`/sum?a=${a}&b=${b}`);

    const data =
        await response.json();

    document.getElementById("result")
        .innerHTML = "Sum = " + data.sum;
}

</script>

</body>
</html>